* {
    margin: 0;
    padding: 0;
    font-family: Aial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(130deg, #4384ec, #0e2f44);
    display: flex;
    align-items: center;
    justify-content: center;
}

.relogio {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 500px;
    width: 550px;
    background: 3px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, .5);
    border-radius: 20px;
}

.relogio {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    width: 550px;
    background: 3px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, .5);
}

.relogio div {
    height: 170px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background: rgba(5, 5, .9);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .7);
    border-radius: 20px;
    letter-spacing: 3px;
}

.relogio scan {
    font-weight: bolder;
    font-size: 60px;
}

.relogio scan.tempo {
    font-size: 15px;

}
